@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.2rem;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.blog{
  color: brown;
}
.header {
  grid-area: header;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin-top: 70px;
  grid-area: main;
  align-items: center;
  justify-content: center;

}

.perfil{
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
} 

div{
  margin: 20px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content:initial;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "main"    auto
    "footer"  300px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "main main"   auto
      "footer  footer" 300px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "main  main  main " auto
      "footer  footer footer"  150px /
      200px    auto   200px;
  }
}
